<div ng-include="'views/desktop/partial/main_header.html'"></div>
<div class="col-lg-12 col-md-12 col-sm-12 marT100 contenidos">
    <div class="col-lg-6 col-md-6 col-sm-6 columna1 border-rigth text-center">
        <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
            <span class="color-01aafd"> <strong>DAR DE ALTA MI GIMNASIO</strong></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 tc-666666 fs-10">
            <span class="">te llamar&aacute; uno de nuestros asesores</span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 tc-666666 fs-10">
            <span class="">para informarte</span>
        </div>
        <form class="padT30" role="form">
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group padT30">
                <input type="text" placeholder="Nombre del centro" class="form-control" >
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group">
                <input type="text" placeholder="Ciudad" class="form-control" >
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group">
                <input type="text" placeholder="Me llamo" class="form-control" >
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group">
                <input type="text" placeholder="Tel&eacute;fono" class="form-control" >
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group">
                <input type="email" placeholder="Email" class="form-control" >
            </div>

            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group text-left">
                <div class="checkbox tc-666666">
                    <label>
                        <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span><span class="fs-10"> Aceptar pol&iacute;tica de privacidad</span>
                    </label>
                </div>
                <!--<p class="help-block">Notify me about updates to apps or games that I've downloaded</p>-->
            </div>

            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group">
                <button class="btn btn-form">Enviar</button>
            </div>
        </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 columna1 text-center">
        <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
            <span class="color-01aafd"><strong>SOY COLABORADOR</strong></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 tc-666666 fs-10">
            <span class="">y quiero validar clientes</span>
        </div>
        <form class="" role="form">
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group padT30">
                <input type="text" placeholder="Usuario" class="form-control" >
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group">
                <input type="password" placeholder="Contrase&ntilde;a" class="form-control" >
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group text-left">
                <div class="checkbox tc-666666">
                    <label>
                        <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span><span class="fs-10"> No cerrar sesi&oacute;n</span>
                    </label>
                </div>
                <!--<p class="help-block">Notify me about updates to apps or games that I've downloaded</p>-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 form-group">
                <button class="btn btn-form">Entrar</button>
            </div>
        </form>
    </div>
</div>
<div ng-include="'views/desktop/partial/main_footer.html'"></div>