<div ng-include="'views/desktop/partial/main_header.html'"></div>
<div class="col-lg-12 col-md-12 col-sm-12 marT100 text-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
        <span class="color-01aafd"> <strong>CONTACTA CON NOSOTROS</strong></span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 tc-666666 fs-10">
        <span class="">te llamar&aacute; uno de nuestros asesores</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 tc-666666 fs-10">
        <span class="">para informarte</span>
    </div>
    <form class="padT30" role="form">
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 form-group padT30">
            <input type="text" placeholder="Nombre y apellidos" class="form-control" >
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 form-group">
            <input type="text" placeholder="Tel&eacute;fono" class="form-control" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 form-group">
            <input type="email" placeholder="Email" class="form-control" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 form-group">
            <input type="text" placeholder="Ciudad" class="form-control" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 form-group">
            <textarea placeholder="Tu consulta" class="form-control" rows="3"></textarea>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 form-group text-left">
            <div class="checkbox tc-666666">
                <label>
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span><span class="fs-10"> Aceptar pol&iacute;tica de privacidad</span>
                </label>
            </div>
            <!--<p class="help-block">Notify me about updates to apps or games that I've downloaded</p>-->
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 form-group">
            <button class="btn btn-form">Enviar</button>
        </div>
    </form>
</div>
<div ng-include="'views/desktop/partial/main_footer.html'"></div>