<div ng-include="'views/desktop/partial/main_header.html'"></div>

<div class="text-center span-static padT70">
    <h1><strong>NUESTRA MISI&Oacute;N</strong></h1>
</div>
<div class="row col-sm-12 text-center padLR0 marLR">
    <img src="img/testing/static.png" style="max-width: 62%">
</div>
<div class="col-sm-8 col-sm-offset-2 text-justify pad30 container" style="">
    <p >Somos 3 j&oacute;venes emprendedores de Barcelona y creamos este proyecto con la intenci&oacute;n de acercar a las personas la informaci&oacute;n sobre instalaciones, actividades , asesoramiento  y ofertas recientes de los gimnasios y a su vez ayudar a los gimnasios a entender lo que necesitan los usuarios.</p>
    <p ><b>Sobre ofertasgimnasios.com</b><b><br />
    </b>Queremos revolucionar la forma de encontrar el gimnasio m&aacute;s conveniente para cada tipo de persona y entendemos que una plataforma web con informaci&oacute;n y ofertas no es suficiente, nos tomamos muy en serio las necesidades de las personas  y por ello damos <b>atenci&oacute;n telef&oacute;nica continua, gratuita y personalizada</b> a toda persona que desea encontrar una actividad ya sea por salud, cambio de residencia o porque es la primera vez que va a practicar una actividad deportiva  o va en busca de nuevas experiencias que le aporten diversi&oacute;n y vitalidad.</p>
    <p >Estudiamos la situaci&oacute;n y objetivos de cada cliente de forma personalizada.</p>
    <p ><b>&#191;C&oacute;mo asesoramos&#63;</b></p>
    <p >Para entender las necesidades de las personas que requieren de asesoramiento deportivo, les hacemos una serie de preguntas como el lugar donde se encuentran, si tienen lesiones, sus objetivos, horarios, tipo de transporte que utilizan, etc. Toda esta informaci&oacute;n nos ayuda para poder aconsejarle y mostrarle las mejores opciones.</p>
    <p ><b>Un ejemplo de asesoramiento</b></p>
    <p >Un caso muy com&uacute;n en nuestro d&iacute;a a d&iacute;a es el perfil de persona sedentaria que nos llama y nos dice que su doctor le aconseja hacer deporte para entre otras cosas perder peso, por ello busca un Gimnasio.</p>
    <p >La mayor&iacute;a de estas personas no tienen la informaci&oacute;n necesaria para cumplir su objetivo y nosotros les ofrecemos alternativas e  ideas de actividades, lugares para su pr&aacute;ctica adem&aacute;s de las mejores ofertas.</p>
    <p >Somos conscientes de que lo m&aacute;s importante es ayudar a las personas a conectar con actividades y lugares donde se sientan felices. Cada persona es un mundo.</p>
    <p >Para ello evaluamos la situaci&oacute;n de cada persona y le mostramos los centros que se adaptan a sus necesidades y con las mejores ofertas. No es lo mismo una persona que venga con una lesi&oacute;n que la que quiere perder peso.</p>
    <p ><b>&#191;C&oacute;mo funciona el sistema de reserva de ofertas&#63;</b></p>
    <p >Cuando a un usuario  le interesa una de las promociones que le mostramos har&aacute; una<b> reserva en la web y pagar&aacute; directamente en el gimnasio</b>, presentando el c&oacute;digo de su reserva, siempre sin compromiso y de la <b>forma m&aacute;s segura</b> al no tener que pagar por adelantado en Internet con tarjetas bancarias.</p>
    <p ><b>Sobre nuestras ofertas</b></p>
    <p >Disponemos de cientos de ofertas especiales de todo tipo, para que se adapten a nuestros usuarios, a su vez vamos renovando d&iacute;a a d&iacute;a las promociones dependiendo de los gimnasios y de las nuevas tendencias.</p>
    <p >Pensamos que el deporte es algo que toda persona tiene que practicar de forma habitual y para ello tiene que sentirse c&oacute;modo en el lugar escogido. Nosotros nos encargaremos de que as&iacute; sea.</p>
    <p ><b>&#191;Y porqu&eacute; los gimnasios quieren trabajar con ofertasgimnasios.com&#63;</b><b><br />
    </b>Al estar en contacto continuo con muchas personas del &aacute;mbito, ayudamos a los Gimnasios a ser mejores ya que les ofrecemos  informaci&oacute;n real  sobre  las necesidades  y  tendencias en el &aacute;mbito del Fitness, adem&aacute;s de ayudarles a conectar con clientes, gracias a nuestro asesoramiento y posicionamiento en Internet.</p>
    <p ><b><i>Asesoramos a nuestros usuarios para que disfruten de los gimnasios y a nuestros gimnasios a que disfruten de sus clientes.</i></b></p>
    <p >Estaremos encantados de ayudaros a conseguir vuestros objetivos</p>
    <p >El equipo de ofertasgimnasios.com</p>

</div>

<div ng-include="'views/desktop/partial/main_footer.html'"></div>