<div ng-include="'views/desktop/partial/main_header.html'"></div>

<div class="text-center span-static padT70">
    <h1><strong>PREGUNTAS FRECUENTES</strong></h1>
</div>
<div class="row col-sm-12 text-center padLR0 marLR">
    <img src="img/testing/static.png" style="max-width: 62%">
</div>
<div class="col-sm-8 col-sm-offset-2 text-justify pad30 container" style="">
    <p><strong>&#191;Qu&eacute; es ofertasgimnasios.com&#63;</strong></p>
    <p>Es el primer portal de Internet que ofrece informaci&oacute;n detallada acerca de los mejores gimnasios de Espa&#241;a y que permite encontrar ofertas espec&iacute;ficas filtrando los resultados seg&uacute;n tus intereses. Puedes buscar cualquier centro deportivo y filtrar seg&uacute;n su ubicaci&oacute;n.</p>
    <p><strong>&#191;Qui&eacute;nes somos&#63;</strong></p>
    <p>Ofertasgimnasios.com es una empresa creada el a&#241;o 2013 en Barcelona. Cuenta con un personal dedicados a ofrecer el mejor servicio tanto a los usuarios como a los gimnasios colaboradores. Nuestro objetivo es ofrecer cada d&iacute;a m&aacute;s informaci&oacute;n de calidad sobre los centros deportivos de Espa&#241;a y facilitar a los usuarios la b&uacute;squeda del gimnasio que m&aacute;s se ajusta a sus necesidades.</p>
    <p><strong>&#191;C&oacute;mo funciona&#63;</strong></p>
    <p>Permite introducir una b&uacute;squeda  por ubicaci&oacute;n y muestra aquellos gimnasios que m&aacute;s se acercan a los intereses del usuario. Tambi&eacute;n se puede buscar un gimnasio introduciendo directamente su nombre en el buscador.</p>
    <p><strong>&#191;Por qu&eacute; tenemos la informaci&oacute;n m&aacute;s detallada de todos los gimnasios&#63;</strong></p>
    <p>Son los propios gimnasios quienes mantienen la informaci&oacute;n de sus centros. Adem&aacute;s, en ofertasgimnasios.com validamos todos los datos para garantizar la m&aacute;xima calidad de la informaci&oacute;n.</p>
    <p><strong>&#191;C&oacute;mo puedo apuntarme a un gimnasio de ofertasgimnasios.com&#63;</strong></p>
    <p>En la ficha de cada centro deportivo encontrar&aacute;s un formulario donde puedes introducir tus datos personales y en menos de 24 horas nos pondremos en contacto contigo para formalizar tu inscripci&oacute;n.</p>
    <p><strong>&#191;Qu&eacute; puedo hacer si estoy buscando un gimnasio concreto y no lo encuentro&#63;</strong></p>
    <p>Si est&aacute;s buscando una informaci&oacute;n que no encuentras, por favor, ponte en contacto con nosotros a trav&eacute;s de nuestro formulario de contacto o al tel&eacute;fono que aparece en la cabecera de la web. Indic&aacute;ndonos cu&aacute;l es el problema y trataremos de resolverlo. Adem&aacute;s, as&iacute; nos ayudas a mejorar.</p>
    <p><strong>&#191;C&oacute;mo puedo publicar mi gimnasio en ofertasgimnasios.com&#63;</strong></p>
    <p>Si quieres publicar tu gimnasio en nuestra web, haz clic en tu &#34;publica tu gimnasio&#8221; y sigue los pasos que se te indican. Muy pronto empezar&aacute;s a recibir visitas a tu ficha. Si tu gimnasio ya est&aacute; publicado en nuestra web, probablemente habr&aacute;s recibido un correo electr&oacute;nico con tus claves de acceso, en caso contrario, por favor, ponte en contacto con nosotros a trav&eacute;s de nuestro formulario de contacto.</p>
</div>

<div ng-include="'views/desktop/partial/main_footer.html'"></div>