<div class="row col-sm-12 col-lg-12 col-md-12  text-center padLR0 marLR footer-container">

    <div class="col-sm-2 col-lg-2 col-md-2 padLR0">
        <a class="logo-foo" ui-sref="frontend"><img class="logo-foo" src="img/logo_temp.png" style=""></a>
    </div>
    <div class="col-sm-10 col-lg-10 col-md-10 padLR0">
        <div class="col-sm-3 col-lg-6 col-md-3 padLR0 padT15 text-right">
            <span class="footer-link" ng-class="route == 'login' ? 'selected' : ''"
                  ui-sref="nuestra-mision">Nuestra misi&oacute;n</span>
        </div>
        <div class="col-sm-3 col-lg-2 col-md-3 padLR0 padT15 text-right">
            <span class="footer-link"  ng-class="route == 'login' ? 'selected' : ''"
                   ui-sref="preguntas-frecuentes">Preguntas frecuentes</span>
        </div>
        <div class="col-sm-3 col-lg-2 col-md-3 padLR0 padT15 text-right">
            <span class="footer-link" ng-class="route == 'login' ? 'selected' : ''"
                   ui-sref="politica-de-privacidad">Pol&iacute;tica de privacidad</span>
        </div>
        <div class="col-sm-3 col-lg-2 col-md-3 padR0 text-left ">
            <span class="footer-link" ng-class="route == 'login' ? 'selected' : ''"
                   ui-sref="condiciones-generales-de-contratacion">Condiciones generales &nbspde contrataci&oacute;n</span>
        </div>


    </div>


</div>