<!--<nav class="navbar marB0 navbar-app">-->
<!--<div class="navbar-header header-container">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a ng-class="route == 'login' ? 'selected' : ''" ui-sref="frontend"><img class="logo-app" src="img/logo_temp.png" style="margin-top: 5px;"></a>-->
<!--</div>-->
<!--<div id="navbar" class="navbar-collapse collapse div-menu">-->
<!--<ul class="nav navbar-nav">-->
<!--<li class="active padR50"><span class="app-link" ng-class="route == 'login' ? 'selected' : ''" ui-sref="como-funciona">&#191;C&oacute;mo funciona&#63;</span></li>-->
<!--<li class="padR50"><span class="app-link" ui-sref="area-gimnasios">Area gimnasios</span></li>-->
<!--<li class=""><span class="app-link" ui-sref="atencion-cliente">Atenci&oacute;n al cliente</span></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->


<div class="row col-sm-12 col-lg-12 col-md-12  text-center padLR0 marLR navbar-app header-container">

    <div class="col-sm-2 col-lg-2 col-md-2 padLR0">
        <div class="col-sm-8 col-lg-8 col-md-8 padLR0 link-border-right">
            <a class="" ui-sref="frontend"><img class="logo-app" src="img/logo_temp.png" style="margin-top: 5px;"></a>
        </div>

    </div>
    <div class="col-sm-10 col-lg-7 col-md-10 col-lg-offset-3 padLR0">
        <div ui-sref="como-funciona"
             class="col-sm-3 col-lg-2 col-lg-offset-5 col-md-3 padLR0 padT15 link-container border-link-container"
             style=" margin-top: -2px;">
            <span class="app-link" ui-sref="como-funciona">&#191;C&oacute;mo funciona&#63;</span>
        </div>
        <div ui-sref="area-gimnasios" class="col-sm-3 col-lg-2 col-md-3 padLR0 padT15 link-container"
             style=" margin-top: -2px;">
            <span class="app-link" ui-sref="area-gimnasios">&Aacute;rea gimnasios</span>
        </div>
        <div ui-sref="atencion-cliente"
             class="col-sm-3 col-lg-2 col-md-3 padLR0 padT15 link-container border-link-container"
             style=" margin-top: -2px;">
            <span class="app-link" ui-sref="atencion-cliente">Atenci&oacute;n al cliente</span>
        </div>
        <div class="col-sm-3 col-lg-1 col-md-3 padLR0 padT15 fs-20 color-006ab0 link-container"
             style=" margin-top: -2px;">
            <span class="icon-compartir"></span>
        </div>


    </div>
</div>










