<div class="row col-sm-12  text-center padLR0 marLR">

    <!--<div class="">-->
        <!--<img src="img/logo.png" style="height: 60px">-->
    <!--</div>-->
    <!--<div class="">-->
        <!--<span class="footer-link" ng-class="route == 'login' ? 'selected' : ''"-->
              <!--ng-click="goToPage('mision')">Nuestra misi&oacute;n</span>-->
        <!--<span class="footer-link" class="footer-link" ng-class="route == 'login' ? 'selected' : ''"-->
              <!--ng-click="goToPage('question')">Preguntas frecuentes</span>-->
        <!--<span class="footer-link" class="footer-link" ng-class="route == 'login' ? 'selected' : ''"-->
              <!--ng-click="goToPage('question')">Politica de privacidad</span>-->
        <!--<span class="footer-link" class="footer-link" ng-class="route == 'login' ? 'selected' : ''"-->
              <!--ng-click="goToPage('question')">Condiciones generales de contratacion</span>-->

    <!--</div>-->

    <nav class="navbar marB0 footer-nav footer-container">
        <div class="navbar-header header-container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click=""><img src="img/logo_temp.png" style="height: 60px; margin-left: 50px;"></a>
        </div>
        <div id="navbar1" class="navbar-collapse collapse div-menu marT20">
            <ul class="nav navbar-nav app-menu">
                <li class="active padR50">
                            <span class="footer-link" ng-class="route == 'login' ? 'selected' : ''"
                                  ng-click="goToPage('nuestra-mision')">Nuestra misi&oacute;n</span>
                </li>
                <li class="padR50">
                    <span class="footer-link"  ng-class="route == 'login' ? 'selected' : ''"
                          ng-click="goToPage('preguntas-frecuentes')">Preguntas frecuentes</span>
                </li>
                <li class="">
                    <span class="footer-link" ng-class="route == 'login' ? 'selected' : ''"
                          ng-click="goToPage('politica-de-privacidad')">Pol&iacute;tica de privacidad</span>
                </li>
                <li class="" style="width: 170px; margin-top: -12px;">
                    <span class="footer-link" ng-class="route == 'login' ? 'selected' : ''"
                          ng-click="goToPage('condiciones-generales-de-contratacion')">Condiciones generales de contrataci&oacute;n</span>
                    <!--<span class="footer-link-div1"  ng-class="route == 'login' ? 'selected' : ''"-->
                          <!--ng-click="goToPage('question')">de contratacion</span>-->
                </li>
            </ul>
        </div>
    </nav>


</div>