<div ng-include="'views/desktop/partial/main_header.html'"></div>

<div class="col-sm-12 padT50 fs-24 text-center marB20">
    <span class="color-858585">
        ES MUY F&Aacute;CIL Y EN UN SOLO CLICK
    </span>
</div>
<div class="row col-sm-12">

    <div class="col-sm-4 padL50 padR50 padT30">
        <div class="col-sm-12 back-func text-center" style="padding-top: 70px;">
            <span class="">
                FOTO WEB MAPA
            </span>
        </div>
        <div class="row col-sm-12 marT20 marB50 text-center">
            <div class="col-sm-2 div-circular-gym back-color-f55730 ">
                           <span class="">1 </span>
            </div>
            <div class="col-sm-10">
                <div class="">
                    <span class="span-static"><strong>ELIGE TU GYM</strong> </span>
                </div>
                <div class="">
                    <span class="">(El que m&aacute;s te guste)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 padL50 padR50 border-left-rigth padT30">
        <div class="col-sm-12 back-func text-center" style="padding-top: 70px;">
            <span class="">
                FOTO WEB DTO
            </span>
        </div>
        <div class="row col-sm-12 marT20 text-center">
            <div class="col-sm-2 div-circular-gym back-color-61a733 ">
                <span class="">2 </span>
            </div>
            <div class="col-sm-10">
                <div class="">
                    <span class="span-static"><strong>DESCARGA CUPONES</strong> </span>
                </div>
                <div class="">
                    <span class="">(Sin compromisos)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 padL50 padR50 padT30">
        <div class="col-sm-12 back-func text-center" style="padding-top: 70px;">
            <span class="">
                FOTO GYM
            </span>
        </div>
        <div class="row col-sm-12 marT20 marB50 text-center">
            <div class="col-sm-2 div-circular-gym back-color-106697 ">
                <span class="">3 </span>
            </div>
            <div class="col-sm-10">
                <div class="">
                    <span class="span-static"><strong>VES A CONOCER EL GYMNASIO</strong> </span>
                </div>
                <div class="">
                    <span class="">(Presenta tu cup&oacute;n de oferta en recepci&oacute;n)</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-sm-12 text-center fs-24 padB10">
    <span class="color-858585">
        BUSCAR OFERTAS EN
    </span>
</div>
<div class="col-sm-2 col-sm-offset-5 input-group marB50">

    <select class="form-control js-example-basic-single" style="">
        <option value=""></option>
        <option value="Madrid">Madrid</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Sevilla">Sevilla</option>
        <option value="Valencia">Valencia</option>
    </select>
    <span class="input-group-addon">Buscar</span>

</div>

<div ng-include="'views/desktop/partial/main_footer.html'"></div>