<div ng-include="'views/desktop/partial/main_header.html'"></div>


<div class="row col-lg-12 padLR0 marLR">
    <div class="col-lg-7 padT20 padB20">

        <div class="col-lg-12 padLR0">
            <div id="select-city" class="col-lg-3 padL0">

                    <select id="select-city-select" class="form-control js-example-basic-single" style="">
                        <option value=""></option>
                        <option value="Madrid">Madrid</option>
                        <option value="Barcelona">Barcelona</option>
                        <option value="Sevilla">Sevilla</option>
                        <option value="Valencia">Valencia</option>
                    </select>

            </div>
            <div id="select-barrios" class="col-lg-3 padL0">

                <select id="select-barrios-select" class="form-control js-example-basic-single" style="">
                    <option value=""></option>
                    <option value="Barrio1">Barrio1</option>
                    <option value="Barrio2">Barrio2</option>
                    <option value="Barrio4">Barrio3</option>
                    <option value="Barrio5">Barrio4</option>
                </select>

            </div>
            <div id="select-activity" class="col-lg-3 padL0">

                <select id="select-activity-select" class="form-control js-example-basic-single" style="">
                    <option value=""></option>
                    <option value="Actividad1">Actividad1</option>
                    <option value="Actividad2">Actividad2</option>
                    <option value="Actividad3">Actividad3</option>
                    <option value="Actividad4">Actividad4</option>
                </select>

            </div>
            <div id="select-gym" class="col-lg-3 padL0">

                <select id="select-gym-select" class="form-control js-example-basic-single" style="">
                    <option value=""></option>
                    <option value="Gimnasio1">Gimnasio1</option>
                    <option value="Gimnasio2">Gimnasio2</option>
                    <option value="Gimnasio3">Gimnasio3</option>
                    <option value="Gimnasio4">Gimnasio4</option>
                </select>

            </div>
        </div>

        <div class="col-lg-12 padLR0 padT30 padB30">
            <div class="col-lg-9 padLR0">
                <span class="">Ofertas de gimnasios en</span>
                <span class="">BARCELONA</span>
            </div>
            <div class="col-lg-3 padLR0">
                <div class="col-lg-6 text-right">
                    <div class="">
                        <span class="icon-gym-pek"></span>
                    </div>
                    <div class="">
                        <span class="">85</span>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="">
                        <span class="icon-ofertas"></span>
                    </div>
                    <div class="">
                        <span class="">750</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 padL0">
            <p class="text-justify">
                Encuentra los gimnasios en Barcelona con los presios mas baratos y disfruta de las actividades dirigidas
                 mas divertidas como Zumba, Crosfit, Pilates, Yoga o Spinning entre muchas otras.
            </p>
        </div>

        <div id="div-slides" class="col-lg-12 padLR0">

        </div>

    </div>
</div>



<div ng-include="'views/desktop/partial/main_footer.html'"></div>